In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.shape

(1030, 9)

In [3]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns

In [6]:
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
from sklearn.model_selection import train_test_split
predictors_train, predictors_test, target_train, target_test = train_test_split(predictors,target,test_size=0.3) #spliting into train and test dataset

In [8]:
len(predictors_train)
len(target_train)

721

In [9]:
predictors_train.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,282.609154,73.744660,52.929126,182.383218,6.059223,972.867684,772.868377,47.159501
std,104.926083,86.814494,63.426597,21.227938,5.871776,77.805511,80.549687,63.265278
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000
25%,194.700000,0.000000,0.000000,166.600000,0.000000,932.000000,722.500000,7.000000
50%,275.000000,20.000000,0.000000,185.700000,6.100000,968.000000,778.000000,28.000000
75%,356.000000,144.000000,118.200000,192.000000,10.100000,1029.400000,825.000000,56.000000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000

In [10]:
predictors_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
493,387.0,20.0,94.0,157.0,11.6,938.0,845.0,7
479,446.0,24.0,79.0,162.0,11.6,967.0,712.0,7
900,150.0,237.0,0.0,174.0,12.0,1069.0,675.0,28
370,218.9,0.0,124.1,158.5,11.3,1078.7,794.9,14
505,491.0,26.0,123.0,201.0,3.9,822.0,699.0,7

In [11]:
target_train.head()

493    41.67
479    38.02
900    37.43
370    26.05
505    37.92
Name: Strength, dtype: float64

In [12]:
#first without normalizing

In [13]:
#predictors_norm = (predictors_train - predictors_train.mean()) / predictors_train.std()
#predictors_norm.head()

In [14]:
n_cols = predictors.shape[1]

In [15]:
n_cols

8

In [16]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [17]:

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import tensorflow as tf

In [29]:
def regression_model():
    model =keras.Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model
model = regression_model()
model.fit(predictors_train, target_train, validation_split=0.3, epochs =50, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 1s 1ms/step - loss: 256272.0295 - val_loss: 229819.9544
Epoch 2/50
504/504 [==============================] - 0s 439us/step - loss: 208361.9477 - val_loss: 186492.8773
Epoch 3/50
504/504 [==============================] - 0s 368us/step - loss: 168822.8194 - val_loss: 150910.9878
Epoch 4/50
504/504 [==============================] - 0s 357us/step - loss: 136465.7433 - val_loss: 121611.8270
Epoch 5/50
504/504 [==============================] - 0s 390us/step - loss: 109590.0956 - val_loss: 97025.9079
Epoch 6/50
504/504 [==============================] - 0s 361us/step - loss: 86896.5954 - val_loss: 76308.7434
Epoch 7/50
504/504 [==============================] - 0s 540us/step - loss: 67699.5570 - val_loss: 58779.3098
Epoch 8/50
504/504 [==============================] - 0s 359us/step - loss: 51587.0292 - val_loss: 44181.7971
Epoch 9/50
504/504 [==============================] - 0s 361us/step - loss: 38275.1045 - val_loss: 32338.1283
Epoch 10/50
504/504 [==============================] - 0s 421us/step - loss: 27565.0081 - val_loss: 22973.6870
Epoch 11/50
504/504 [==============================] - 0s 362us/step - loss: 19248.5076 - val_loss: 15799.7592
Epoch 12/50
504/504 [==============================] - 0s 392us/step - loss: 13006.6837 - val_loss: 10525.7392
Epoch 13/50
504/504 [==============================] - 0s 362us/step - loss: 8528.0180 - val_loss: 6816.6808
Epoch 14/50
504/504 [==============================] - 0s 362us/step - loss: 5431.1243 - val_loss: 4374.3826
Epoch 15/50
504/504 [==============================] - 0s 431us/step - loss: 3428.1531 - val_loss: 2836.4843
Epoch 16/50
504/504 [==============================] - 0s 400us/step - loss: 2214.5154 - val_loss: 1903.6132
Epoch 17/50
504/504 [==============================] - 0s 504us/step - loss: 1501.2921 - val_loss: 1370.0168
Epoch 18/50
504/504 [==============================] - 0s 400us/step - loss: 1102.6807 - val_loss: 1085.2063
Epoch 19/50
504/504 [==============================] - 0s 362us/step - loss: 901.5656 - val_loss: 933.0578
Epoch 20/50
504/504 [==============================] - 0s 388us/step - loss: 800.0316 - val_loss: 854.3794
Epoch 21/50
504/504 [==============================] - 0s 321us/step - loss: 747.9396 - val_loss: 813.8658
Epoch 22/50
504/504 [==============================] - 0s 328us/step - loss: 722.1024 - val_loss: 789.9439
Epoch 23/50
504/504 [==============================] - 0s 357us/step - loss: 705.5009 - val_loss: 773.5221
Epoch 24/50
504/504 [==============================] - 0s 386us/step - loss: 694.5435 - val_loss: 758.2940
Epoch 25/50
504/504 [==============================] - 0s 363us/step - loss: 686.2700 - val_loss: 739.6438
Epoch 26/50
504/504 [==============================] - 0s 322us/step - loss: 673.6429 - val_loss: 719.6642
Epoch 27/50
504/504 [==============================] - 0s 438us/step - loss: 658.1125 - val_loss: 684.3644
Epoch 28/50
504/504 [==============================] - 0s 360us/step - loss: 630.7919 - val_loss: 641.0471
Epoch 29/50
504/504 [==============================] - 0s 363us/step - loss: 593.3790 - val_loss: 584.7705
Epoch 30/50
504/504 [==============================] - 0s 381us/step - loss: 548.7097 - val_loss: 515.3602
Epoch 31/50
504/504 [==============================] - 0s 362us/step - loss: 499.2399 - val_loss: 466.2570
Epoch 32/50
504/504 [==============================] - 0s 354us/step - loss: 460.4274 - val_loss: 438.0115
Epoch 33/50
504/504 [==============================] - 0s 371us/step - loss: 441.7458 - val_loss: 411.9018
Epoch 34/50
504/504 [==============================] - 0s 362us/step - loss: 425.2856 - val_loss: 393.5334
Epoch 35/50
504/504 [==============================] - 0s 391us/step - loss: 415.7655 - val_loss: 378.2121
Epoch 36/50
504/504 [==============================] - 0s 367us/step - loss: 407.2119 - val_loss: 368.3124
Epoch 37/50
504/504 [==============================] - 0s 435us/step - loss: 401.0009 - val_loss: 356.5949
Epoch 38/50
504/504 [==============================] - 0s 439us/step - loss: 392.1564 - val_loss: 347.9958
Epoch 39/50
504/504 [==============================] - 0s 552us/step - loss: 386.7995 - val_loss: 341.9768
Epoch 40/50
504/504 [==============================] - 0s 435us/step - loss: 380.8271 - val_loss: 335.5220
Epoch 41/50
504/504 [==============================] - 0s 390us/step - loss: 376.3747 - val_loss: 329.4538
Epoch 42/50
504/504 [==============================] - 0s 395us/step - loss: 371.9489 - val_loss: 326.0807
Epoch 43/50
504/504 [==============================] - 0s 400us/step - loss: 367.2250 - val_loss: 321.3528
Epoch 44/50
504/504 [==============================] - 0s 357us/step - loss: 363.7394 - val_loss: 318.0277
Epoch 45/50
504/504 [==============================] - 0s 390us/step - loss: 359.7475 - val_loss: 315.3008
Epoch 46/50
504/504 [==============================] - 0s 393us/step - loss: 355.7684 - val_loss: 312.6359
Epoch 47/50
504/504 [==============================] - 0s 394us/step - loss: 351.9209 - val_loss: 308.3010
Epoch 48/50
504/504 [==============================] - 0s 354us/step - loss: 348.3988 - val_loss: 306.1013
Epoch 49/50
504/504 [==============================] - 0s 355us/step - loss: 347.1385 - val_loss: 303.8145
Epoch 50/50
504/504 [==============================] - 0s 435us/step - loss: 341.6358 - val_loss: 298.8049

In [30]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                90
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.save('assignment_trained_model.h5')

In [32]:
from keras.models import load_model
new_model = load_model('assignment_trained_model.h5')

In [33]:
new_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                90
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [34]:
from sklearn import metrics
import numpy as np
target_pred = new_model.predict(predictors_test)
mserrA = metrics.mean_squared_error(target_test, target_pred)
r2_scoresA = metrics.r2_scores = metrics.r2_score(target_test, target_pred)
print('mserrA: {:.2f}'.format(mserrA))
print('mse_StdDev: {:.2f}'.format(r2_scoresA))
print('R^2_Mean: {:.2f}'.format(np.mean(r2_scoresA)))
print('R^2_StdDev: {:.2f}'.format(np.std(r2_scoresA)))

mserrA: 346.99
mse_StdDev: -0.26
R^2_Mean: -0.26
R^2_StdDev: 0.00