In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [3]:
concrete_data_columns = concrete_data.columns

In [8]:
X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
Y = concrete_data['Strength'] # Strength column

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.3)

In [11]:
len(X_train)

721

In [12]:
len(Y_test)

309

In [13]:
X.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000

In [29]:
X_train.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,280.382386,72.237587,55.618169,180.983218,6.274619,974.377947,775.535229,42.249653
std,103.146474,86.599063,63.973422,21.072045,5.912198,77.631518,80.117433,56.980638
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000
25%,194.700000,0.000000,0.000000,165.600000,0.000000,932.000000,734.300000,7.000000
50%,266.000000,20.000000,0.000000,184.400000,6.500000,968.000000,780.100000,28.000000
75%,350.000000,141.300000,118.300000,192.000000,10.100000,1031.000000,825.000000,56.000000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000

In [25]:
Y.describe()

count    1030.000000
mean       35.817961
std        16.705742
min         2.330000
25%        23.710000
50%        34.445000
75%        46.135000
max        82.600000
Name: Strength, dtype: float64

In [28]:
predictors_train_norm = ((X_train - X_train.mean())/X_train.std())
predictors_test_norm = ((X_test - X_test.mean())/X_test.std())

In [33]:
target_train_norm = ((Y_train - Y_train.mean())/Y_train.std())
target_test_norm = ((Y_test - Y_test.mean())/Y_test.std())

In [34]:
predictors_train_norm

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
587,-0.408956,0.999577,-0.869395,0.223841,-1.061300,0.853031,-0.514685,-0.250079
617,-0.255776,-0.834161,-0.869395,0.807552,-1.061300,-0.082157,1.091707,-0.688824
471,1.605655,-0.557022,0.365493,-0.900872,0.900745,-0.095038,-0.793026,-0.250079
522,0.035073,-0.660949,1.334645,-0.094116,-0.131020,-1.705209,0.317843,0.241316
819,2.371556,-0.834161,-0.869395,0.380446,-1.061300,1.940218,-2.028712,0.838010
...,...,...,...,...,...,...,...,...
474,1.605655,-0.557022,0.365493,-0.900872,0.680860,-0.095038,-0.793026,-0.250079
160,0.797096,1.348310,-0.869395,-0.763249,0.900745,-0.382293,-0.246329,0.241316
867,-1.108932,2.168181,-0.869395,0.095709,1.137543,-1.486226,0.642367,-0.250079
143,0.917313,0.248991,-0.869395,-2.580823,2.896618,-1.575107,2.709333,0.241316
275,-0.280983,-0.834161,0.979811,0.356718,-0.080278,0.695878,-0.222614,-0.495776

In [15]:
target_train_norm

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [36]:
target_test_norm

995   -0.502699
372    0.047860
930   -0.318988
108    0.612197
586   -1.257062
         ...
737   -1.084833
478    0.894078
136    2.185222
167    2.167425
330    0.332038
Name: Strength, Length: 309, dtype: float64

In [17]:
n_cols = predictors_norm.shape[1]

In [18]:
n_cols

8

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import tensorflow as tf

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [45]:
def regression_model():
    model =keras.Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model
model = regression_model()
model.fit(predictors_train_norm, target_train_norm, validation_split=0.3, epochs =50, verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 3s 5ms/step - loss: 1.9941 - val_loss: 1.6552
Epoch 2/50
504/504 [==============================] - 1s 1ms/step - loss: 1.6777 - val_loss: 1.4291
Epoch 3/50
504/504 [==============================] - 1s 1ms/step - loss: 1.4529 - val_loss: 1.2561
Epoch 4/50
504/504 [==============================] - 0s 791us/step - loss: 1.2833 - val_loss: 1.1253
Epoch 5/50
504/504 [==============================] - 1s 1ms/step - loss: 1.1550 - val_loss: 1.0246
Epoch 6/50
504/504 [==============================] - 1s 1ms/step - loss: 1.0592 - val_loss: 0.9432
Epoch 7/50
504/504 [==============================] - 1s 995us/step - loss: 0.9796 - val_loss: 0.8742
Epoch 8/50
504/504 [==============================] - 1s 1ms/step - loss: 0.9133 - val_loss: 0.8134
Epoch 9/50
504/504 [==============================] - 0s 874us/step - loss: 0.8548 - val_loss: 0.7583
Epoch 10/50
504/504 [==============================] - 1s 1ms/step - loss: 0.7998 - val_loss: 0.7105
Epoch 11/50
504/504 [==============================] - 1s 1ms/step - loss: 0.7529 - val_loss: 0.6649
Epoch 12/50
504/504 [==============================] - 0s 960us/step - loss: 0.7117 - val_loss: 0.6247
Epoch 13/50
504/504 [==============================] - 0s 981us/step - loss: 0.6724 - val_loss: 0.5933
Epoch 14/50
504/504 [==============================] - 1s 1ms/step - loss: 0.6408 - val_loss: 0.5636
Epoch 15/50
504/504 [==============================] - 1s 1ms/step - loss: 0.6128 - val_loss: 0.5373
Epoch 16/50
504/504 [==============================] - 0s 794us/step - loss: 0.5899 - val_loss: 0.5125
Epoch 17/50
504/504 [==============================] - 0s 797us/step - loss: 0.5661 - val_loss: 0.4912
Epoch 18/50
504/504 [==============================] - 0s 836us/step - loss: 0.5458 - val_loss: 0.4719
Epoch 19/50
504/504 [==============================] - 1s 1ms/step - loss: 0.5281 - val_loss: 0.4547
Epoch 20/50
504/504 [==============================] - 1s 1ms/step - loss: 0.5117 - val_loss: 0.4389
Epoch 21/50
504/504 [==============================] - 0s 679us/step - loss: 0.4974 - val_loss: 0.4254
Epoch 22/50
504/504 [==============================] - 0s 835us/step - loss: 0.4846 - val_loss: 0.4131
Epoch 23/50
504/504 [==============================] - 0s 753us/step - loss: 0.4741 - val_loss: 0.4019
Epoch 24/50
504/504 [==============================] - 0s 909us/step - loss: 0.4626 - val_loss: 0.3926
Epoch 25/50
504/504 [==============================] - 0s 680us/step - loss: 0.4530 - val_loss: 0.3829
Epoch 26/50
504/504 [==============================] - 1s 1ms/step - loss: 0.4446 - val_loss: 0.3735
Epoch 27/50
504/504 [==============================] - 1s 1ms/step - loss: 0.4355 - val_loss: 0.3644
Epoch 28/50
504/504 [==============================] - 1s 1ms/step - loss: 0.4263 - val_loss: 0.3564
Epoch 29/50
504/504 [==============================] - 1s 1ms/step - loss: 0.4180 - val_loss: 0.3495
Epoch 30/50
504/504 [==============================] - 0s 789us/step - loss: 0.4102 - val_loss: 0.3421
Epoch 31/50
504/504 [==============================] - 0s 923us/step - loss: 0.4018 - val_loss: 0.3351
Epoch 32/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3945 - val_loss: 0.3294
Epoch 33/50
504/504 [==============================] - 1s 999us/step - loss: 0.3867 - val_loss: 0.3224
Epoch 34/50
504/504 [==============================] - 0s 988us/step - loss: 0.3805 - val_loss: 0.3164
Epoch 35/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3738 - val_loss: 0.3109
Epoch 36/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3676 - val_loss: 0.3060
Epoch 37/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3622 - val_loss: 0.3012
Epoch 38/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3567 - val_loss: 0.2955
Epoch 39/50
504/504 [==============================] - 0s 991us/step - loss: 0.3513 - val_loss: 0.2906
Epoch 40/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3458 - val_loss: 0.2860
Epoch 41/50
504/504 [==============================] - 0s 908us/step - loss: 0.3412 - val_loss: 0.2817
Epoch 42/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3364 - val_loss: 0.2774
Epoch 43/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3322 - val_loss: 0.2734
Epoch 44/50
504/504 [==============================] - 0s 873us/step - loss: 0.3282 - val_loss: 0.2692
Epoch 45/50
504/504 [==============================] - 0s 714us/step - loss: 0.3241 - val_loss: 0.2659
Epoch 46/50
504/504 [==============================] - 1s 1ms/step - loss: 0.3202 - val_loss: 0.2622
Epoch 47/50
504/504 [==============================] - 0s 872us/step - loss: 0.3166 - val_loss: 0.2592
Epoch 48/50
504/504 [==============================] - 0s 869us/step - loss: 0.3132 - val_loss: 0.2554
Epoch 49/50
504/504 [==============================] - 0s 751us/step - loss: 0.3095 - val_loss: 0.2528
Epoch 50/50
504/504 [==============================] - 0s 754us/step - loss: 0.3064 - val_loss: 0.2501

In [43]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                90
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [46]:
from sklearn import metrics
import numpy as np
target_pred = model.predict(predictors_test_norm)
mserrB = metrics.mean_squared_error(target_test_norm, target_pred)
r2_scoresB = metrics.r2_scores = metrics.r2_score(target_test_norm, target_pred)
print('mserrA: {:.2f}'.format(mserrB))
print('mse_StdDev: {:.2f}'.format(r2_scoresB))
print('R^2_Mean: {:.2f}'.format(np.mean(r2_scoresB)))
print('R^2_StdDev: {:.2f}'.format(np.std(r2_scoresB)))

mserrA: 0.29
mse_StdDev: 0.71
R^2_Mean: 0.71
R^2_StdDev: 0.00